.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

.navbar__black {
  background-color: #111;
  opacity: 0.5;
  transition: all 0.2s;
}

.navbar__logo {
  width: 80px;
  object-fit: contain;
  position: fixed;
  z-index: 100;
  left: 20px;
}

.navbar__avatar {
  width: 30px;
  position: fixed;
  right: 20px;
  object-fit: contain;
}
